###_Terrafrom:
**/.terraform/*
.terraform/
.terraform.d/

*.tfstate
*.tfstate.*
*.tfstate.backup
*.backup

*.tfplan

crash.log
crash.*.log

*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

#override.tf
#override.tf.json
#*_override.tf
#*_override.tf.json
#!example_override.tf

.terraformrc
terraform.rc

#.external_modules


###_Ansible:
#*.cfg
.ansible/
.cache/
*.retry
ansible.log

secrets.yml
vault.yml
vault-password.txt
group_vars/*vault*
host_vars/*vault*
inventory.local
.env
.env.*


###_IDE:
.vscode/
*.code-workspace
.idea/

.bash_history
.zsh_history
.gitconfig
.config/
.local/

.ssh/
*.pem
*.key
id_*
authorized_keys
authorized_key.json
credentials.json
*_creds.json
*_secret.*


###_Temp:
*.tmp
*.bak
*.swp
*.swo
.DS_Store